@media print {
  button {
    display: none;
  }

  body {
    background: #fff;
    color: #000;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    margin-top: 16px;
    page-break-after: avoid;
  }

  ul {
    margin-left: 20px;
  }
}
